Pokemon Scraper.json
{
  "name": "Pokemon Scraper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -32
      ],
      "id": "19ba1d51-927d-4ae0-a63a-9ba13ef49c9c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lyYdPA0wujdhG3JyHT08bKJjvM1jIO7TzzSCJmzbqLs",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lyYdPA0wujdhG3JyHT08bKJjvM1jIO7TzzSCJmzbqLs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemons-ID-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lyYdPA0wujdhG3JyHT08bKJjvM1jIO7TzzSCJmzbqLs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -112
      ],
      "id": "fafca712-7989-4570-a171-b4539d33d541",
      "name": "Obtener ids de pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c5PMfPxft3JlWgTT",
          "name": "Google Sheets - luis.romero@gmai.com"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -112
      ],
      "id": "ed05be64-b535-468e-9e08-38e29adc1e72",
      "name": "Obtener información del Pokemon"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6898d8ef-6355-48cc-832c-6b26fff71e57",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "36b6d78e-da07-45a8-b4d2-8e608bebed4e",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "b7498a2f-59b7-4ead-bc85-cf395e71de7b",
              "name": "type",
              "value": "={{ $json.types[0].type.name }}",
              "type": "string"
            },
            {
              "id": "339044e5-ff43-450e-b2b9-90dd8b600a98",
              "name": "photos.front",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "2320e4a3-b56f-46ce-80fb-2be58db4776b",
              "name": "photos.back",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -112
      ],
      "id": "d54b8f42-f48e-4524-9cbb-870e6d2e84c6",
      "name": "Extraer datos del pokemon"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lyYdPA0wujdhG3JyHT08bKJjvM1jIO7TzzSCJmzbqLs",
          "mode": "list",
          "cachedResultName": "Pokemon tabla de información",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lyYdPA0wujdhG3JyHT08bKJjvM1jIO7TzzSCJmzbqLs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemons-ID-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lyYdPA0wujdhG3JyHT08bKJjvM1jIO7TzzSCJmzbqLs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nombre": "={{ $json.name }}",
            "Tipo": "={{ $json.type }}",
            "Sprite Frontal": "={{ $json.photos.front }}",
            "Sprite Posterior": "={{ $json.photos.back }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Frontal",
              "displayName": "Sprite Frontal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Posterior",
              "displayName": "Sprite Posterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -112
      ],
      "id": "cbfe610f-af08-4690-ac26-ec99e8c6f73d",
      "name": "Actualizar informacion de pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c5PMfPxft3JlWgTT",
          "name": "Google Sheets - luis.romero@gmai.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Sheet\nobtener ids de los pokemons",
        "height": 256,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -192
      ],
      "typeVersion": 1,
      "id": "94028a84-db1b-4294-a2f9-c555692556c9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cd288b0-8762-4a55-8775-15fcd5653ebd",
              "leftValue": "={{ $json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "d72d75f8-f666-49d4-bc37-cfadb9970986",
              "leftValue": "={{ $json.Tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        -112
      ],
      "id": "e4dbc32d-ec18-49e3-9c5d-7507e33d3538",
      "name": "Filtrar pokemons sin datos"
    },
    {
      "parameters": {
        "content": "## Filtro\nÚnicamente os que no tienen nombre y tipo",
        "height": 256,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -208
      ],
      "typeVersion": 1,
      "id": "4d1d059f-1e22-41d7-b45b-dc893fe3a248",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nGuardar información en el documento",
        "height": 272,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        -208
      ],
      "typeVersion": 1,
      "id": "fd07c74d-6ce7-4611-8ac4-1b3025c0df48",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## HTTP\nTraer informacion de los pokemons",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -208
      ],
      "typeVersion": 1,
      "id": "40fd35e3-17cd-4e34-b381-2ae7c53ef50c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "romerofalconluis20@gmail.com",
        "subject": "El proceso de migración terminó",
        "message": "=<h1>✅ Proceso Terminado</h1>\n<h2>Nuevos Pokémons ({{ $json.ID.length }})</h2>\n\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"width: 50%;\">\n  <thead>\n    <tr style=\"background-color: #f2f2f2;\">\n      <th>ID</th>\n      <th>Nombre</th>\n<th>Photo</th>\n    </tr>\n  </thead>\n  <tbody>\n    {{ $json.ID.map((id, index) => {\n      // Accedemos al nombre correspondiente usando el mismo 'index'\n      const nombre = $json.Nombre[index];\nconst photo = $json['Sprite Frontal'][index];\n      return `<tr><td>${id}</td>\n<td>${photo}</td><td>${nombre}</td></tr>`;\n    }).join('') }}\n  </tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1776,
        -112
      ],
      "id": "b7b36f31-3354-4efc-8027-38f25b79c23a",
      "name": "Enviar correo del resultado",
      "webhookId": "ac447d98-8062-4891-95c9-5d1745f15d09",
      "credentials": {
        "gmailOAuth2": {
          "id": "xTJezyYKJSsqkWAr",
          "name": "Gmail - luis.romero@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID"
            },
            {
              "fieldToAggregate": "Nombre"
            },
            {
              "fieldToAggregate": "Sprite Frontal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -112
      ],
      "id": "8f69f26e-9f18-408f-89c1-7bfadd1f7203",
      "name": "Agrupar resultados"
    },
    {
      "parameters": {
        "content": "## Agrupar\nDatos de salida",
        "height": 272,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        -208
      ],
      "typeVersion": 1,
      "id": "3a11a28d-d63e-4497-b238-9abc6a5abff1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Enviar correo\nEnviar resumen del proceso",
        "height": 272,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        -208
      ],
      "typeVersion": 1,
      "id": "59353a5f-c0f0-4f3a-8bce-4a5cc9ab964e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        -256
      ],
      "id": "9c745f43-6bb0-4bc2-a5bd-37b91bc29b31",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {
    "Actualizar informacion de pokemons": [
      {
        "json": {
          "ID": 14,
          "Nombre": "kakuna",
          "Tipo": "bug",
          "Sprite Frontal": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/14.png",
          "Sprite Posterior": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/14.png"
        }
      },
      {
        "json": {
          "ID": 22,
          "Nombre": "fearow",
          "Tipo": "normal",
          "Sprite Frontal": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/22.png",
          "Sprite Posterior": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/22.png"
        }
      },
      {
        "json": {
          "ID": 19,
          "Nombre": "rattata",
          "Tipo": "normal",
          "Sprite Frontal": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/19.png",
          "Sprite Posterior": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/19.png"
        }
      },
      {
        "json": {
          "ID": 38,
          "Nombre": "ninetales",
          "Tipo": "fire",
          "Sprite Frontal": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/38.png",
          "Sprite Posterior": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/38.png"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Obtener ids de pokemons": {
      "main": [
        [
          {
            "node": "Filtrar pokemons sin datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener información del Pokemon": {
      "main": [
        [
          {
            "node": "Extraer datos del pokemon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos del pokemon": {
      "main": [
        [
          {
            "node": "Actualizar informacion de pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar pokemons sin datos": {
      "main": [
        [
          {
            "node": "Obtener información del Pokemon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar informacion de pokemons": {
      "main": [
        [
          {
            "node": "Agrupar resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar resultados": {
      "main": [
        [
          {
            "node": "Enviar correo del resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar correo del resultado": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener ids de pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44630cb3-6e77-42c3-beaf-f51152c7031f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6695cfba1d9ef4b972924db7c114470a81719042895c928acac33c4b07e35a8d"
  },
  "id": "6k4LV1DnXTgMCytt",
  "tags": [
    {
      "updatedAt": "2025-12-08T05:12:13.872Z",
      "createdAt": "2025-12-08T05:12:13.872Z",
      "id": "WbGMfLrZy6FOlKbA",
      "name": "primer workflows"
    },
    {
      "updatedAt": "2025-12-08T05:12:00.548Z",
      "createdAt": "2025-12-08T05:12:00.548Z",
      "id": "h0Qis122TqJMWucz",
      "name": "pokemons"
    }
  ]
}